* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-family: PP mori;
}

html,
body {
    height: 100%;
    width: 100%;
}

.idk{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: absolute;
    bottom: 220px;
}

.idk h1{
    background: -webkit-linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: anime 2s ease-in-out infinite alternate;
    font-size: 35px;
}

@keyframes anime {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}


.main{
    height: 100%;
    width: 100%;
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

img{
    height: 300px;
    width: 300px;
    border-radius: 15px;
}

img:hover{
    transition: ease-in-out 1.5s;
    transform: scale(1.5);
    transform: rotate(20deg);
}